{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Submit Screenshot for your exercise</h4>
        </div>
        {% if messages %}
          <div class="alert alert-success">
              {% for message in messages %}
                  <p>{{ message }}</p>
              {% endfor %}
          </div>
       {% endif %}

        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
